# Docker-related
.dockerignore
Dockerfile
docker-compose.yml

# Python-related
*.pyc
__pycache__
venv/
env/
*.env
*.egg-info/

# PySpark-related
*.log
*.tmp
*.out
*.metastore/
*.pyc
__pycache__

# Jupyter Notebook-related
.ipynb_checkpoints/
*.ipynb_checkpoints/
